body {
    background-color: rgba(255, 206, 146, 0.712);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffe8d6;
    border-bottom: thin solid black;
}

header .logo {
    font-weight: bold;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #979797;
    text-decoration: underline;
}

.contingutprincipal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: #eaeae0;
}

.continguttext {
    text-align: left;
    padding: 20px;
    background-color: #ffc783;
    border-radius: 8px;
}

.continguttext h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
}

.continguttext h2 {
    font-size: 24px;
    color: #666;
    margin: 0;
}

.categoria {
    color: #666;
    font-weight: bold;
}

.imatgeprincipal img {
    border-radius: 8px;
    object-fit: cover;
}

.botoboto {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #d9a384;
    border-radius: 20px;
    color: #d9a384;
    font-weight: bold;
    text-decoration: none;
}

.boto:hover {
    background-color: #d9a384;
    color: #fff;
}
