body {
    background-color: #ffe8d6;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffe8d6;
    border-bottom: thin solid black;
}

header .logo {
    font-weight: bold;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #9c9c9c;
    text-decoration: underline;
}

.contingutprincipal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 50px 20px;
    background-image: url(https://imag.bonviveur.com/ssobrasada.jpg);
    background-size: cover;
}

.continguttext {
    text-align: right;
    padding: 40px;
    border-radius: 20px;
    text-shadow: 
        -1px -1px 0 #8f2f09,  
        1px -1px 0 #8f2f09,
        -1px  1px 0 #8f2f09,
        1px  1px 0 #8f2f09;
}

.continguttext h1 {
    font-size: 36px;
    font-weight: bold;
    color: #fac87f;
    text-shadow: 
        -1px -1px 0 #8f2f09,  
         1px -1px 0 #8f2f09,
        -1px  1px 0 #8f2f09,
         1px  1px 0 #8f2f09;
    margin: 0;
}

.continguttext h2 {
    font-size: 24px;
    color: #fac87f;
    text-shadow: 
        -1px -1px 0 #8f2f09,  
        1px -1px 0 #8f2f09,
        -1px  1px 0 #8f2f09,
        1px  1px 0 #8f2f09;
    margin: 0;
}

.healthy {
    color: #fac87f;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.imatgeprincipal img {
    border-radius: 8px;
    object-fit: cover;
}

.boto {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #8f2f09 ;
    border-radius: 20px;
    color: #fac87f;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 
        -1px -1px 0 #8f2f09,  
        1px -1px 0 #8f2f09,
        -1px  1px 0 #8f2f09,
        1px  1px 0 #8f2f09;
}

.boto:hover {
    color: #fac87f;
    backdrop-filter: blur(4px);}

.botoreceta {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        border: 2px solid #000000;
        border-radius: 20px;
        color: #000000;
        font-weight: bold;
        text-decoration: none;
    }
    
.botoreceta:hover {
        color: #000000;
        backdrop-filter: blur(4px);
    }

nav .navcontingut {
    background-color: white;
}

nav .viewcategory {
    margin: 0 10px;
    color: #5d5d5d;
    text-decoration: none;
    margin-left: 100px;

}
nav .nav2 {
    font-weight: bold;
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
}

div {
    width: 355px;
    height: 289px;
}
.container {
    width: 35%;
    height: auto;
    margin-left: 100px;
}

.container h3 {
    font-size: 24px;
    height: 5px;
}

.container2 h3 {
    font-size: 24px;
    height: 5px;
}

.healthy2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 2px;
}

.descripcio {
    height: 75px;
    font-size: 12px;
}

.botoreceta2 {
    display: inline-block;
    padding: 5px 15px;
    border: 2px solid #000000;
    border-radius: 15px;
    color: #000000;
    font-weight: bold;
    font-size: 60%;
}

.container2 {
    width: 35%;
    height: auto;
    margin-left: 100px;
}

.configfoto {
    width: 100%;
    height: 250px;
    padding: 0px;
    border: 1px solic #ccc;
    border-radius: 0px;
    object-fit: cover;
}

.configfoto2 {
    width: 100%;
    height: 250px;
    padding: 0px;
    border: 1px solic #ccc;
    border-radius: 0px;
    object-fit: cover;
}

.latestrecipes {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 100px;
}

section2 {
    display: flex;
    justify-content:left;
}

sectionboto {
    height: 100px;
}

.suscribete {
    display: flex;
    height: 100px;
    padding: 40px 40px;
    background-color: #c78c6e;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: 20px auto;
}

.contingutsuscribete h2 {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: left;
    margin: 0;
    align-items: center;
    color: #2d2d2d;
}

.contingutsuscribete p {
    font-size: 14px;
    justify-content: left;
    margin: 5px 0 0;
    color: #2d2d2d;
}

.suscribeteform {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribeform input[type="email"] {
    padding: 10px 15px;
    border: 2px solid #c78c6e;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-size: 1em;
}

.subscribeform button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 20px 20px 0;
    font-size: 1em;
    font-weight: bold;
    color: #2d2d2d;
    cursor: pointer;
}

.subscribeform input[type="email"],
.subscribeform button {
    height: 40px;
}

.boto2 {
    display: right;
    margin-top: center;
    padding: 5px 30px;
    border: 1px solid beige;
    background-color: #c78c6e;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
}

.boto3 {
    padding: 5px 30px;
    border: 1px solid beige;
    border-radius: 20px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    background-color: beige;
}

.boto3:hover {
    color: #000000;
}
